# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# VS Code settings (if using VS Code)
.vscode/

# PyCharm settings (if using PyCharm)
.idea/

# MacOS system files
.DS_Store
